<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>
    <link rel="stylesheet" href="css/cssdoitra.css" type="text/css" />
    <link rel="stylesheet" href="./css/owl.carousel.min.css" />
    <link rel="stylesheet" href="./css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/menu_detail.css" />
    <link rel="stylesheet" href="./css/cart.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/owl.carousel.min.js"></script>
    <script src="https://use.fontawesome.com/2888652aa3.js"></script>
    <script src="./js/cart.js"></script>
  </head>
  <body>
    <table>
      <thead class="cssheader">
        <tr>
          <td colspan="2">
            <div class="container">
              <div class="login" style="text-align: center">
                <a href="#">Đăng ký </a>
                /
                <a href="#">Đăng nhập</a>
              </div>
              <div class="besties">
                <img src="images/logobesties.png" class="logo" width="20%" />
              </div>
              <div style="margin-top: 2px; padding: 10px">
                <form action="Search.html">
                  <input
                    type="Search"
                    id="Search"
                    name="q"
                    placeholder="Search"
                  />
                </form>
              </div>
              <a href="#"
                ><img src="images/cart.png" class="cart" width="10%"
              /></a>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div id="menu" style="font-family: 'Arial'">
              <ul>
                <li><a href="TrangChu.html">TRANG CHỦ</a></li>
                <li>
                  <a href="#">BLACK FRIDAY</a>
                  <ul class="sub-menu">
                    <li><a href="#">FLASH SALE</a></li>
                    <li><a href="#">WEEK SALE</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">HOT TREND</a>
                </li>
                <li>
                  <a href="#">MAKE UP</a>
                  <ul class="sub-menu">
                    <li><a href="#">FACE MAKE UP</a></li>
                    <li><a href="#">LIPS MAKE UP</a></li>
                    <li><a href="EyesMakeup.html">EYES MAKE UP</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">SKINCARE</a>
                  <ul class="sub-menu">
                    <li><a href="#">SỮA RỬA MẶT</a></li>
                    <li><a href="#">KEM CHỐNG NẮNG</a></li>
                    <li><a href="#">MẶT NẠ</a></li>
                    <li><a href="#">TẨY TRANG</a></li>
                    <li><a href="#">TẨY TẾ BÀO CHẾT</a></li>
                    <li><a href="#">ESSENCE - SERUM - AMPOULE</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">KHÁC</a>
                  <ul class="sub-menu">
                    <li><a href="#">CHĂM SÓC RĂNG MIỆNG</a></li>
                    <li><a href="#">BỘ KIT SẢN PHẨM</a></li>
                    <li><a href="#">MẪU THỬ SAMPLE</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">CẨM NANG</a>
                  <ul class="sub-menu">
                    <li><a href="Review.html">REVIEWS</a></li>
                    <li><a href="DoiTra.html">CHÍNH SÁCH ĐỔI TRẢ</a></li>
                    <li><a href="ThanhToan.html">CHÍNH SÁCH THANH TOÁN</a></li>
                  </ul>
                </li>
                <li><a href="LienHe.html">LIÊN HỆ</a></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
        </tr>
      </thead>
      <tbody ng-app="cartApp" ng-controller="CartController">
        <tr>
          <td colspan="2"><hr /></td>
        </tr>
        <tr>
          <td>
            <div class="wrap-cart">
              <div class="wrap-cart-title">
                <div class="cart-title-name">Giỏ hàng</div>
                <div class="cart-title-number">
                  (<span id="id_cart_number" class="cart-title-number-1"
                    >2</span
                  >
                  sản phẩm)
                </div>
              </div>
              <div class="wrap-cart-table">
                <div class="cart-left">
                  <div class="cart-left-1">
                    <div class="cart-left-2">
                      <div class="product-title">Sản phẩm</div>
                      <div class="price-title">Giá</div>
                      <div class="length-title">Số lượng</div>
                      <div class="currency-title">Thành tiền</div>
                    </div>
                    <div class="cart-left-3" ng-repeat="cart in carts">
                      <div hidden id="id_product_cart_id">{{cart.id}}</div>
                      <div class="cart-left-2-item">
                        <div class="image-title1">
                          <img class="sm-img" src="{{cart.image}}" />
                        </div>
                        <div class="wrap-info-img">
                          <div class="image-title2 ellipsis-img-title">
                            {{cart.title}}
                          </div>
                          <div class="image-title3 ellipsis-img-description">
                            {{cart.description}}
                          </div>
                          <div class="group-btn-img">
                            <div
                              class="image-title4"
                              onclick="favouriteCartItem()"
                            >
                              <i class="fa fa-heart" aria-hidden="true"></i> Yêu
                              thích
                            </div>
                            <div
                              class="image-title5"
                              ng-click="removeCartItem(cart.id)"
                            >
                              <i class="fa fa-times" aria-hidden="true"></i> Xoá
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="price" id="id_cart_price">{{cart.price}}</div>
                      <div class="length">
                        <input
                          type="number"
                          id="number_product"
                          value="{{cart.count}}"
                          onchange="changeCountCart(this.value)"
                          min="0"
                        />
                      </div>
                      <div class="currency" id="id_currency_total">
                        {{ cart.total.toFixed(0).toLocaleString()}}đ
                      </div>
                    </div>
                  </div>
                  <div class="cart-left-4">
                    <div class="style-btn-add-cart">
                      <a class="continue-add-cart" onclick="goBack()"
                        ><i class="fa fa-angle-left" aria-hidden="true"></i>
                        Tiếp tục mua hàng</a
                      >
                    </div>
                    <div>
                      <a href="Other.html" class="order-cart"
                        >Tiến hành đặt hàng</a
                      >
                    </div>
                  </div>
                </div>
                <div class="cart-middle"></div>
                <div class="cart-right">
                  <div class="cart-right-title">Hoá đơn của bạn</div>
                  <div class="cart-right-content">
                    <div class="cart-right-item">
                      <div class="cart-right-name">Tạm tính:</div>
                      <div class="cart-right-price" id="id_temp_total_price">
                        {{totalTempPrice}}
                      </div>
                    </div>
                    <div class="cart-right-item">
                      <div class="cart-right-name">Tổng tiền:</div>
                      <div class="cart-right-price" id="id_total_price">
                        {{totalPrice}}
                      </div>
                    </div>
                    <div>
                      <button class="btn-order">Tiến hành đặt hàng</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2" style="background-color: #fcdada">
            <table>
              <tr>
                <td class="diva" style="line-height: 40px">
                  <p>
                    <a href="LienHe.html" style="text-decoration: none"
                      ><strong>THÔNG TIN LIÊN HỆ</strong></a
                    >
                  </p>
                  <div>
                    <p>
                      <strong>BESTIES COSMETICS</strong> <br />
                      Số 1 Võ Văn Ngân,Linh Trung,<br />
                      Thủ Đức, TP HCM
                    </p>
                    <p>Hotline: 1900 0274</p>
                    <p>Email: cskh@besties.vn</p>
                  </div>
                </td>
                <td class="diva" style="line-height: 40px">
                  <p>
                    <a href="#" style="text-decoration: none"
                      ><strong>VỀ CHÚNG TÔI</strong></a
                    >
                  </p>
                  <div style="padding-left: 18px">
                    <p>
                      <a href="#">Giới thiệu <strong>Besties.vn</strong></a>
                    </p>
                    <p><a href="#">Tuyển dụng</a></p>
                    <p><a href="#">Chính sách bảo mật</a></p>
                    <p><a href="#">Điều khoản sử dụng</a></p>
                  </div>
                </td>
                <td class="diva" style="line-height: 40px">
                  <p>
                    <a href="#" style="text-decoration: none"
                      ><strong>CHĂM SÓC KHÁCH HÀNG</strong></a
                    >
                  </p>
                  <div style="margin-left: -13px">
                    <p><a href="#">Các câu hỏi thường gặp</a></p>
                    <p><a href="#">Hướng dẫn đặt hàng</a></p>
                    <p><a href="#">Vận chuyển</a></p>
                  </div>
                </td>
                <td style="text-align: end">
                  <div>
                    <img src="images/fb.png" style="margin-top: 60px" />
                    &nbsp;&nbsp;
                    <img src="images/ins.png" style="margin-top: 60px" />
                    &nbsp;&nbsp;
                    <img src="images/yt.png" style="margin-top: 60px" />
                    &nbsp;&nbsp;
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="4" style="text-align: left">
                  <hr />
                </td>
              </tr>
              <tr>
                <td colspan="3" style="text-align: left">
                  <img src="images/logobesties.png" style="width: 40%" />
                </td>
                <td style="text-align: right">
                  Copy right © 2020 Cosmetics. All right reserved<br />
                  <img src="images/bct.png" style="width: 30%" />
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>
