<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ProductDetail</title>
    <link rel="stylesheet" href="css/cssdoitra.css" type="text/css" />
    <link rel="stylesheet" href="./css/owl.carousel.min.css" />
    <link rel="stylesheet" href="./css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/menu_detail.css" />
    <link rel="stylesheet" href="./css/detail.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/owl.carousel.min.js"></script>
    <script src="./js/detail.js"></script>
  </head>
  <body>
    <table>
      <thead class="cssheader">
        <tr>
          <td colspan="2">
            <div class="container">
              <div class="login" style="text-align: center">
                <a href="#">Đăng ký </a>
                /
                <a href="#">Đăng nhập</a>
              </div>
              <div class="besties">
                <img src="images/logobesties.png" class="logo" width="20%" />
              </div>
              <div style="margin-top: 2px; padding: 10px">
                <form action="Search.html">
                  <input
                    type="Search"
                    id="Search"
                    name="q"
                    placeholder="Search"
                  />
                </form>
              </div>
              <a href="#"
                ><img src="images/cart.png" class="cart" width="10%"
              /></a>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div id="menu" style="font-family: 'Arial'">
              <ul>
                <li><a href="TrangChu.html">TRANG CHỦ</a></li>
                <li>
                  <a href="#">BLACK FRIDAY</a>
                  <ul class="sub-menu">
                    <li><a href="#">FLASH SALE</a></li>
                    <li><a href="#">WEEK SALE</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">HOT TREND</a>
                </li>
                <li>
                  <a href="#">MAKE UP</a>
                  <ul class="sub-menu">
                    <li><a href="#">FACE MAKE UP</a></li>
                    <li><a href="#">LIPS MAKE UP</a></li>
                    <li><a href="EyesMakeup.html">EYES MAKE UP</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">SKINCARE</a>
                  <ul class="sub-menu">
                    <li><a href="#">SỮA RỬA MẶT</a></li>
                    <li><a href="#">KEM CHỐNG NẮNG</a></li>
                    <li><a href="#">MẶT NẠ</a></li>
                    <li><a href="#">TẨY TRANG</a></li>
                    <li><a href="#">TẨY TẾ BÀO CHẾT</a></li>
                    <li><a href="#">ESSENCE - SERUM - AMPOULE</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">KHÁC</a>
                  <ul class="sub-menu">
                    <li><a href="#">CHĂM SÓC RĂNG MIỆNG</a></li>
                    <li><a href="#">BỘ KIT SẢN PHẨM</a></li>
                    <li><a href="#">MẪU THỬ SAMPLE</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">CẨM NANG</a>
                  <ul class="sub-menu">
                    <li><a href="Review.html">REVIEWS</a></li>
                    <li><a href="DoiTra.html">CHÍNH SÁCH ĐỔI TRẢ</a></li>
                    <li><a href="ThanhToan.html">CHÍNH SÁCH THANH TOÁN</a></li>
                  </ul>
                </li>
                <li><a href="LienHe.html">LIÊN HỆ</a></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
        </tr>
      </thead>
      <tbody ng-app="angularApp" ng-controller="DetailController">
        <tr>
          <td colspan="2"><hr /></td>
        </tr>
        <tr>
          <td>
            <div>
              <div class="wrap-phase1">
                <div class="wrap-detail-img">
                  <div class="list-images">
                    <div ng-repeat="img in detail.images.split(',').slice(0,5)">
                      <img
                        onClick="changeImage(this)"
                        ng-src="{{img}}"
                        class="sub-image"
                        onerror="showNoImage(this)"
                      />
                    </div>
                  </div>
                  <div class="main-image">
                    <img
                      id="main_img"
                      ng-src="{{detail.image}}"
                      style="width: 400px; height: 300px; padding: 10px"
                      onerror="showNoImage(this)"
                    />
                  </div>
                </div>
                <div class="wrap-detail-info">
                  <div>
                    <div class="product-detail">
                      <div class="product-title">{{detail.TenSP}}</div>
                      <div>
                        <ul class="ratings">
                          <li class="star"></li>
                          <li class="star"></li>
                          <li class="star"></li>
                          <li class="star"></li>
                          <li class="star"></li>
                        </ul>
                      </div>
                      <div class="display-style">
                        <div class="display-style">
                          <div class="product-detail-comment">
                            {{percentPrice}}
                          </div>
                          <div>Đánh giá</div>
                        </div>
                        <div class="col-style">|</div>
                        <div class="display-style">
                          <div class="product-detail-comment">1.5k</div>
                          <div>Đã bán</div>
                        </div>
                        <div class="col-style">|</div>
                        <div>Mã sản phẩm: {{detail.Ma}}</div>
                      </div>
                      <div class="product-detail-price">
                        <div class="product-detail-price-text">
                          Giá thị trường:
                        </div>
                        <div class="product-detail-price-number">
                          đ{{priceOriginal}}
                        </div>
                      </div>
                      <div class="product-detail-price-2">
                        <div class="product-detail-price-real">
                          {{detail.Giaban}}
                        </div>
                        <div class="product-detail-price-tag">
                          Tiết kiệm {{percentPrice}}%
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="wrap-extra-info">
                        <div>Dung tích:</div>
                        <div class="extra-item">250ml</div>
                        <div class="extra-item">250ml</div>
                        <div class="extra-item">260ml</div>
                      </div>
                      <div class="wrap-length-style">
                        <div>Số lượng:</div>
                        <div>
                          <input
                            type="number"
                            class="input-length-style"
                            value="0"
                          />
                        </div>
                      </div>
                      <div class="wrap-short-description">
                        {{detail.short_description}}
                      </div>
                      <div class="wrap-button-style">
                        <div class="group-btn1">
                          <button class="btn-cart">Giỏ hàng</button>
                        </div>
                        <div><button class="btn-cart">Mua ngay</button></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wrap-phase2">
                <div class="wrap-left">
                  <div class="info-title">Thông tin sản phẩm</div>
                  <div
                    class="info-description"
                    ng-bind-html="longDescription"
                  ></div>
                </div>
                <div class="wrap-center"></div>
                <div class="wrap-right">
                  <div class="relation-title">Sản phẩm cùng thương hiệu</div>
                  <div ng-repeat="relation in relations" class="wrap-relation">
                    <div class="relation-img">
                      <a
                        ng-href="{{'ProductDetails.html?&cat='+relation.category+'&id=' + relation.id}}"
                        ><img
                          ng-src="{{relation.image}}"
                          class="relation-img1"
                          onerror="showNoImage(this)"
                      /></a>
                    </div>
                    <div class="wrap-relation-info">
                      <div class="relation-price">{{relation.Giaban}}</div>
                      <div class="relation-name">{{relation.TenSP}}</div>
                      <div class="relation-description">
                        {{relation.short_description}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wrap-phase3">
                <div class="wrap-comment-style">
                  <div class="evaluate">Đánh giá</div>
                  <div class="box-comment">
                    <textarea class="textarea-content"></textarea>
                  </div>
                  <div class="wrap-btn-evaluate">
                    <button class="btn-cart">Gửi</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2" style="background-color: #fcdada">
            <table>
              <tr>
                <td class="diva" style="line-height: 40px">
                  <p>
                    <a href="LienHe.html" style="text-decoration: none"
                      ><strong>THÔNG TIN LIÊN HỆ</strong></a
                    >
                  </p>
                  <div>
                    <p>
                      <strong>BESTIES COSMETICS</strong> <br />
                      Số 1 Võ Văn Ngân,Linh Trung,<br />
                      Thủ Đức, TP HCM
                    </p>
                    <p>Hotline: 1900 0274</p>
                    <p>Email: cskh@besties.vn</p>
                  </div>
                </td>
                <td class="diva" style="line-height: 40px">
                  <p>
                    <a href="#" style="text-decoration: none"
                      ><strong>VỀ CHÚNG TÔI</strong></a
                    >
                  </p>
                  <div style="padding-left: 18px">
                    <p>
                      <a href="#">Giới thiệu <strong>Besties.vn</strong></a>
                    </p>
                    <p><a href="#">Tuyển dụng</a></p>
                    <p><a href="#">Chính sách bảo mật</a></p>
                    <p><a href="#">Điều khoản sử dụng</a></p>
                  </div>
                </td>
                <td class="diva" style="line-height: 40px">
                  <p>
                    <a href="#" style="text-decoration: none"
                      ><strong>CHĂM SÓC KHÁCH HÀNG</strong></a
                    >
                  </p>
                  <div style="margin-left: -13px">
                    <p><a href="#">Các câu hỏi thường gặp</a></p>
                    <p><a href="#">Hướng dẫn đặt hàng</a></p>
                    <p><a href="#">Vận chuyển</a></p>
                  </div>
                </td>
                <td style="text-align: end">
                  <div>
                    <img src="images/fb.png" style="margin-top: 60px" />
                    &nbsp;&nbsp;
                    <img src="images/ins.png" style="margin-top: 60px" />
                    &nbsp;&nbsp;
                    <img src="images/yt.png" style="margin-top: 60px" />
                    &nbsp;&nbsp;
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="4" style="text-align: left">
                  <hr />
                </td>
              </tr>
              <tr>
                <td colspan="3" style="text-align: left">
                  <img src="images/logobesties.png" style="width: 40%" />
                </td>
                <td style="text-align: right">
                  Copy right © 2020 Cosmetics. All right reserved<br />
                  <img src="images/bct.png" style="width: 30%" />
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>
